.App {
  text-align: center;
  background-color: #202020;
  min-height: 100vh;
  height: auto;
}



.navbar-brand {
  font-size: 2em !important;
  margin-left: .75em;
  color: #E0282E!important;
}

nav p {
  color: white !important;
}


h1 {
  color: white !important;
}

.movie_card_grid {
 display: flex;
 flex-wrap: wrap;
 gap: 20px;
 padding: 0;
 justify-content: center;
}

.movie_card {
  width: 16em;
}

.movie_card:hover {
  cursor: pointer;
}

.movie_image_small {
  width: 200px;
  height: auto;
}

.movie_image_small {
  min-width: 14em;
  min-height: 12em;
  background-color: #282c34;
}
.movie_title {
  color: white;
  font-size: 1.25em;
}



.Tools {
  margin: none;
  width: fit-content;
  margin-left: 8.5em;

}
.genre_dropdown {
  background-color: #101010;
  color: white;
  border: none;
  margin: 1em;

}

.modal_image {
  background-color: #282c34;
  width: 70em;
  min-width: none;
  height: auto;
  padding: 0;
  display: inline-block;
  background-size: 100% !important;
}

.modal_image h3 {

  padding-left: .75em;
  display: inline-block;
  padding-top: 13.5em;
}

.modal_image p {
  font-size: 1.5em;
  padding-left: 1em;
  display: inline-block;
}

.ant-modal {
  width: 70em !important;
  margin: 0 auto;
  padding: 0;
  background-color: #101010 !important;
}

.ant-modal-content {
  padding: 0 !important;
  background-color: #101010 !important;
  color: white;
}

.modal_desc {
  padding: 1em;
  font-size: 1.2em;
}

#star {
  font-size: 1.4em !important;
  display: inline-block !important;
  padding-left: .15em;
}

.ant-modal-close-icon {
  color: white !important;
}




